.planSection {
    width: 100%;
    height : 100%;
    background-color: white;
    padding-top: 10rem;
  }
  
  .inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 4rem;
    color: #111;
  }
  
  .highlight {
    color: #E6007E;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .conditionCard {
    width: 18rem;
    height : 27.6rem; // 요금제 카드들과 비슷하게 조정
    padding: 2rem;
    margin-top : 2rem;
    background-color: #F8F8F8;
    border-radius: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  
    h3 {
      font-size: 1.6rem;
      font-weight: 700;
    }
  
    img {
      width: 10rem;
    }
  
    .planLabel {
      font-weight: 700;
      font-size: 1.45rem;
      margin-top: 0.5rem;
    }
  
    .note {
      font-size: 0.8rem;
      color: #ff0000;
      margin-top: 0.5rem;
      line-height: 1.4;
    }
  }
  
  .arrow {
    margin: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .planWrapper {
    position: relative;
    flex: 1;
    border: 2px dashed #EE5CA0;
    border-radius: 1.5rem;
    padding: 4rem 2rem 2rem;
    background-color: #fff;
  
    .planHeader {
      position: absolute;
      top: -1.2rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: #E6007E;
      border-radius : 0.8rem;
      padding: 0 1rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: #fff;
    }
  
  
    .planCards {
      display: flex;
      gap: 1.6rem;
      
  
      .planCard {
        flex: 1;
        background-color: #F8F8F8;
        padding: 2rem;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.25);
  
        h4 {
          font-size: 1.4rem;
          font-weight: 700;
          text-align: center;
          min-height: 2rem;
        }
  
        .price {
          font-size: 1.2rem;
          color: #999;
          margin-bottom: 1rem;
          text-align: center;
          min-height: 3rem; 
        }
  
        ul {
          font-size: 1.1rem;
          line-height: 1.4;
          margin-bottom: 1.5rem;
          list-style: none;
          min-height: 10rem;
        }
  
        .finalPrice {
          font-size: 1.2rem;
          font-weight: 600;
          margin-top: auto;
  
          strong {
            font-size: 1.4rem;
          }
  
          .discount {
            color: #E6007E;
            font-size: 1rem;
          }
        }
      }
    }
  }
  