.heroLast {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(255, 211, 237, 0.8) 0%,
        rgba(255, 229, 244, 0.8) 14%,
        #ffffff 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .card {
    position: relative;
    width: 60rem;
    height : 15rem;
    background: #fff;
    padding: 3rem 3rem;
    border-radius: 2rem;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top :6.5rem;
  }
  
  .HeroLast {
    position: absolute;
    top: -7.5rem;
    right: 2rem;
    width: 18rem;
    height: auto;
  }
  
  .subText {
    font-size: 1.4rem;
    margin-bottom : -0.3rem;
    color: #666;
  }
  
  .title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
  
    .highlight1 {
      color: #e6007e;
      margin-right: 0.3rem;
    }
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap;
  }
  
  .loginBtn,
  .consultBtn {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 2.5rem;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
  }
  
  .loginBtn {
    background-color: #e6007e;
    color: white;

    &:hover{
        background-color: #EE5CA0;
    }
  }
  
  .consultBtn {
    background-color: white;
    color: black;

    &:hover{
        background-color: #e6e6e6;
    }
  }
  
  .iconWrapper1 {
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    svg {
      color: #e6007e;
      font-size: 1.5rem;
    }
}

    .iconWrapper2 {
        background-color: #e6007e;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      
        svg {
          color: white;
          font-size: 1.5rem;
        }
  }
  