.hero {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #f6bbc3 31%, #ffffff 100%);
  display: flex;
  justify-content: center;

  *:not(button){
    user-select: none;
    outline : none;
    caret-color : transparent;
  }

  .content {
    max-width: 75rem; // 1200px
    width: 100%;
    padding-top : 6rem;
    text-align: center;

    h2 {
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.5;
      margin-top : 2rem;
      margin-bottom: 3.5rem;

      span {
        color: #E6007E;
      }
    }

    .buttonGroup {
      display: flex;
      justify-content: center;
      gap: 7rem;
      margin-bottom: 3.8rem;

      button {
        width: 16rem;
        height : 3.5rem;
        border-radius: 999px;
        border: none;
        font-size: 1.125rem;
        cursor: pointer;
        transition: all 0.3s ease;
        font-weight : 700;
      }

      .loginBtn {
        background-color: #E6007E;
        color: #fff;

        &:hover{
          background-color: #6F42C1;
          color : #fff;
        }
      }

      .planBtn {
        background-color: #fff;
        color: #E6007E;
        border: 1px solid #E6007E;

        &:hover{
          color : #6F42C1;
          border : 1px solid #6F42C1;
        }
      }
    }

    .cardList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4.625rem;
    }
  }
}

.card2Img {
  width: 14.563rem !important;
  height : auto;
  object-fit: contain;
  display: block;
  margin: 0 auto 2.9rem !important; 
}

.highlight1 {
  color: #E6007E;
  font-weight: bold;
}

.highlight2 {
  color: #6F42C1;
  font-weight: bold;
}

.card3 p {
  margin-top: 1rem !important;
}