$primary-pink: #e6007e;
$dark-gray: #6c757d;
$light-gray: #d9d9d9;
$border-gray: #e6e6e6;
$green: #1da511;
$red: #dc3545;
$border-gray-2: #eaeaea;

.membership-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.map-wrapper {
  flex: 1;
}
.map-info-wrapper {
  background: rgb(255, 255, 255);
  position: absolute;
  z-index: 100;
  bottom: 3rem;
  height: 82%;
  left: 5rem;
  width: 380px;
  border-radius: 30px;
  box-shadow: 15px 10px 15px rgb(0, 0, 0, 0.1);

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 75%;
    overflow: overlay;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  li {
    display: flex;
    border-bottom: 1px solid #e0dede;
    flex-direction: column;
    position: relative;
    gap: 10px;
    padding: 15px 25px;

    div {
      font-family: 'Noto-sans-KR';
    }
  }
  img {
    width: 80px;
    object-fit: contain;
  }
}

.map-upi {
  position: absolute;
  bottom: -15px;
  z-index: 99;
  width: 300px;
  left: 22.5rem;
}

.map-search {
  position: relative;
  margin: 30px 15px 5px;
  svg {
    position: absolute;
    right: 1rem;
    bottom: 0.7rem;
    font-size: 25px;
  }

  input {
    height: 45px;
    width: 100%;
    border: 1px solid $border-gray-2;
    border-radius: 15px;
    padding: 0 10px;
  }
}

.info-title-item {
  text-align-last: center;
  font-size: 20px;
  padding: 15px 30px;
  border-bottom: 1px solid $border-gray-2;

  strong {
    color: $primary-pink;
  }
  select {
    font-size: 19px;
    margin: 5px 0;
    border: none;
    background: #e6e6e6;
    margin: 0 5px;
  }
}

.shop-info {
  display: flex;
  gap: 15px;
  font-weight: bold;
  font-size: 17px;
  align-items: center;

  img {
    object-fit: cover;
  }

  .shop-name {
    font-weight: bold;
    font-size: 16px;
  }

  .shop-address {
    color: rgb(85, 85, 85);
    font-size: 14px;
  }
}

.benefit-item {
  button {
    font-size: 28px;
    border: none;
    cursor: pointer;
    top: 12px;
    background: none;
    right: 10px;
    position: absolute;
    color: gray;
  }
}
.benefit-item > div {
  font-size: 13px;
  color: $dark-gray;
}
